@using Client.ApplicationStates
@using Microsoft.AspNetCore.Components.Authorization
@inject AllState departmentState
@attribute [Authorize]


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" @onclick="HomeClicked">
            Hola
        </a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" @onclick="ShowAdminMenuContainer" style="cursor:pointer;" href="javascript: void()">
                        <div class="hstack gap-2">
                            <span class="bi bi-person-fill fs-3 text-center" aria-hidden="true" style="margin-top : 1rem"></span>
                            <span>Administración</span>
                        </div>
                    </NavLink>
                    <a class="nav-link p-2 text-white" style="margin-left:5rem; visibility:@CssStyle">
                        <div class="hstack" @onclick="UserClicked">
                            <span class="bi bi-people fs-5 text-center" aria-hidden="true" style="margin-top : 0rem"></span>
                            <span>Usuarios</span>
                        </div>
                    </a>
                </div>
            </Authorized>
        </AuthorizeView>
        <hr />
        
        <div class="nav-item px-3" style="margin-top:@DepartmentMargin">
             <AuthorizeView Roles="User,Admin,Employee">
            <Authorized>
            <NavLink class="nav-link p-2" @onclick="ShowDepartmentContainer" style="cursor:pointer;" href="javascript: void()">
                <div class="hstack gap-1">
                    <span class="bi bi-backpack4-fill fs-3 text-center" aria-hidden="true" style="margin-top : 1rem"></span>
                    <span>Gestión</span>
                </div>
            </NavLink>
            </Authorized>
            </AuthorizeView>


             
            <div class="nav-link p-2 text-white" style="margin-left:1rem; visibility:@DepartmentCssStyle">
                
                <ul class="list-group">
                    <AuthorizeView Roles="User,Admin">
                        <Authorized>
                    <li style="list-style:none" class="cusorStyle">
                        <a class="nav-link p-2" @onclick="GeneralDepartmentClicked">
                            <div class="hstack text-wrap">
                                <span class="bi bi-file-medical fs-5 text-center" aria-hidden="true" style="margin-top : 2rem"></span>
                                <span class="fs-6">General</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none" class="cusorStyle">
                        <a class="nav-link p-2" @onclick="DepartmentClicked">
                            <div class="hstack text-wrap">
                                <span class="bi bi-file-medical fs-5 text-center" aria-hidden="true" style="margin-top : 2rem"></span>
                                <span class="fs-6">Departamento</span>
                            </div>
                        </a>
                    </li>
                    @* <li style="list-style:none" class="cusorStyle" @onclick="DepartmentClicked">
                    <a class="nav-link p-2">
                    <div class="hstack">
                    <span class="bi bi-substack fs-5 text-center" aria-hidden="true" style="margin-top :- 2rem"></span>
                    <span>Departamento</span>
                    </div>
                    </a>
                    </li> *@
                    <li style="list-style:none" class="cusorStyle" @onclick="BranchClicked">
                        <a class="nav-link p-2">
                            <div class="hstack">
                                <span class="bi bi-chevron-bar-contract fs-5 text-center" aria-hidden="true" style="margin-top :2rem"></span>
                                <span class="fs-6">Rama</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none">
                        <hr />
                    </li>
                    <li style="list-style:none">
                        <a class="nav-link p-2 cusorStyle" @onclick="CountryClicked">
                            <div class="hstack">
                                <span class="bi bi-geo-alt fs-5 text-center" aria-hidden="true" style="margin-top :2rem"></span>
                                <span class="fs-5">Pais</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none">
                        <a class="nav-link p-2 cusorStyle" @onclick="CityClicked">
                            <div class="hstack">
                                <span class="bi bi-pin-map-fill fs-5 text-center" aria-hidden="true" style="margin-top :2rem"></span>
                                <spanclass ="fs-5">Provincia</spanclass>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none">
                        <a class="nav-link p-2 cusorStyle" @onclick="TownClicked">
                            <div class="hstack">
                                <span class="bi bi-geo fs-5 text-center" aria-hidden="true" style="margin-top :2rem"></span>
                                <span class="fs-5">Ciudad</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none">
                        <hr />
                    </li>
                    <li style="list-style:none">
                        <a class="nav-link p-2 cusorStyle" @onclick="OvertimeTypeClicked">
                            <div class="hstack">
                                <span class="bi bi-clock-fill fs-5 text-center" aria-hidden="true" style="margin-top:0rem"></span>
                                <span class="fs-5">H.Extras</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none">
                        <a class="nav-link p-2 cusorStyle" @onclick="SanctionTypeClicked">
                            <div class="hstack">
                                <span class="bi bi-exclamation-triangle-fill fs-5 text-center" aria-hidden="true" style="margin-top:0rem"></span>
                                <span class="fs-5">Multas</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none">
                        <a class="nav-link p-2 cusorStyle" @onclick="VacationTypeClicked">
                            <div class="hstack">
                                <span class="bi bi-airplane-fill fs-5 text-center" aria-hidden="true" style="margin-top:0rem" zise="50px"></span>
                                <span class="fs-5">Vacación</span>
                            </div>
                        </a>
                    </li>
                    </Authorized>
            </AuthorizeView>

                    <li style="list-style:none">
                        <hr />
                    </li>

                    <AuthorizeView Roles="User,Admin,Employee">
                        <Authorized>
                    <li style="list-style:none">
                        <a class="nav-link p-2 cusorStyle" @onclick="EmployeeClicked">
                            <div class="hstack">
                                <span class="bi bi-person-fill fs-3 text-center" aria-hidden="true" style="margin-top :- 2rem"></span>
                                <span class="fs-6">Empleado</span>
                            </div>
                        </a>
                    </li>
                        </Authorized>
                    </AuthorizeView>



                </ul>
            </div>
        </div>


        @* <AuthorizeView Roles="Employee,Admin,User">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" @onclick="ShowAdminMenuContainer" style="cursor:pointer;" href="javascript: void()">
                        <div class="hstack gap-2">
                            <span class="bi bi-person-fill fs-3 text-center" aria-hidden="true" style="margin-top : 1rem"></span>
                            <span>Empleados</span>
                        </div>
                    </NavLink>
                    <a class="nav-link p-2 text-white" style="margin-left:5rem; visibility:@CssStyle">
                        <div class="hstack" @onclick="EmployeeInfoClicked">
                            <span class="bi bi-people fs-5 text-center" aria-hidden="true" style="margin-top : 0rem"></span>
                            <span>Información - Certificados</span>
                        </div>
                    </a>
                 
                </div>
            </Authorized>
        </AuthorizeView> *@
    </nav>
</div>

<style>
    .cursorStyle {
        cursor: pointer;
    }

</style>
@code {
    private bool collapseNavMenu = false;
    private bool collapseNavMenu1 = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

     // private void ToggleNavMenu()
     // {
     //     collapseNavMenu = collapseNavMenu;
     // }

    private void ToggleNavMenu()
    {
        collapseNavMenu1 = !collapseNavMenu1;
    }

    public string DepartmentMargin { get; set; } = "-3.5rem";
    private string CssStyle = "hidden";
    public bool ShowHide { get; set; } = false;
    private void ShowAdminMenuContainer()
    {
        ShowHide = !ShowHide;
        if (ShowHide)
        {
            DepartmentMargin = "0";
            CssStyle = "visible";
        }
        else
        {
            DepartmentMargin = "-3.5rem";
            CssStyle = "hidden";
        }
    }
    private string DepartmentCssStyle = "hidden";
    public bool ShowHideDepartment { get; set; } = false;
    private void ShowDepartmentContainer()
    {
        ShowHideDepartment = !ShowHideDepartment;
        if (ShowHideDepartment)
            DepartmentCssStyle = "visible";
        else
            DepartmentCssStyle = "hidden";
    }
    //General Department /Deparment /Branch
    void GeneralDepartmentClicked() => allState.GeneralDepartmentClicked();
    void DepartmentClicked() => allState.DepartmentClicked();
    void BranchClicked() => allState.BranchClicked();
    //Country /City /Town
    void CountryClicked() => allState.CountryClicked();
    void CityClicked() => allState.CityClicked();
    void TownClicked() => allState.TownClicked();
    //User
    void UserClicked() => allState.UserClicked();
    //Employee
    void EmployeeClicked() => allState.EmployeeClicked();
    //Suplementary tables
    //Vacation Type / OvertimeType / SanctionType
    void VacationTypeClicked() => allState.VacationTypeClicked();
    void OvertimeTypeClicked() => allState.OvertimeTypeClicked();
    void SanctionTypeClicked() => allState.SanctionTypeClicked();
    void HomeClicked() => allState.EmployeeClicked();
    void EmployeeInfoClicked() => allState.EmployeeInfoClicked();
}
