<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary" style="min-height: 100px;">
                <div class="card-header"><i class="bi bi-people text-primary"></i> Empleados</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-success" style="min-height: 100px;">
                <div class="card-header"><i class="bi bi-backpack3 text-success"></i> Vacaciones</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-danger" style="min-height: 100px;">
                <div class="card-header"><i class="bi bi-stopwatch text-danger"></i> Horas Extras</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-warning" style="min-height: 100px;">
                <div class="card-header"><i class="bi bi-hospital text-warning"></i> Doctor</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-info" style="min-height: 100px;">
                <div class="card-header"><i class="bi bi-x-octagon text-info"></i> Multas</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-dark" style="min-height: 100px;">
                <div class="card-header"><i class="bi bi-slack text-dark"></i> Departamentos</div>
            </div>
        </div>
    </div>
</div>
